<%- include("partials/header"); -%>

<h1>home</h1>
<p><%=homeStartingContent%></p>

<% newPosts.forEach(function(post){ %>
   <h1> <%= post.title %> </h1>
    <p> <%= post.content.substring(0,100) + " ..." %> </p>
    <a href="/newPosts/<%=post._id%>">Read More</a>
<% }) %>



<%- include("partials/footer"); -%>
